
<% if flash[:notice] %>
<div class="flash">
<%= flash[:notice] %>
</div>
<% end %>

 <main>
  <div class="container mt-3">
    <div class="row">
    <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">
     <h2>welcome to <i class="fas fa-book"></i>Bookers!!</h2>
     <p class="top_contens">In<i class="fas fa-book"></i><b>Bookers,</b></p>
     <p class="top_contens">you can share and exchange your opinions,inpressions,and emotions</p>
     <p class="top_contens">adout various books!</p>
    <div class="btn-wrapper col-10 mx-auto ">
     <div class="btn btn-info btn-block mb-3">
         <%= link_to "Login in", new_user_session_path ,class:"text-white" %>
     </div>
     <div class="btn btn-success btn-block mb-3">
         <%= link_to "Sign Up", new_user_registration_path ,class:"text-white"%>
     </div>

    </div>

    </div>
   </div>
  </div>
 </main>